<div id="documenttext" class="roguebox">

<h6 class="quest">Crashed!</h6>

<p>You have crash-landed on an alien world, with no supplies and no chance of rescue.</p>

<p>You know that, somewhere on the surface of this place, there is a portal that can return you to civilization. Your compass points the way.</p>

<p>But there are others here. Ancient and cold, they watch from the shadows . . .</p>

<form action="/play/reroll" method="post">
<button type="submit">Begin</button>
</form>

</div>
