<!DOCTYPE html>

<html>
  <head>
    <title>Roguestar</title>
    <link rel="stylesheet" type="text/css" href="/static/roguebasic.css"/>
    <link rel="stylesheet" type="text/css" href="/static/header.css"/>
    <script src="static/jquery-1.8.2.js" type="application/javascript"></script>
    <script src="static/jquery.cookie-1.2.js" type="application/javascript"></script>
    <script src="static/jquery.xcolor-1.8.js" type="application/javascript"></script>
    <script src="static/roguebasic.js" type="application/javascript"></script>
  </head>
  <body>
    <div id="main">
    <div id="menu" class="roguebox">
        <img src="/static/glass/roguestar-title.svg"/>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/play/">Play</a></li>
          <li><a href="/options/">Options</a></li>
        <ul>
    </div>
