{{> header}}

<div id="documenttext" class="roguebox">
<div class="faqitem">
<h1 class="question">Map Key</h1>

<dl class="answer">

<dt><pre class="B">@</pre></dt>
<dd>Your character.</dd>

<dt><pre class="B">r</pre></dt>
<dd>A hostile recreant.</dd>

<dt><pre class="p">f</pre></dt>
<dd>A tree or patch of forest.  You can clear a path through them, but slowly.</dd>

<dt><pre>.</pre></dt>
<dd>Ordinary ground, grass, or rock.</dd>

<dt><pre>#</pre></dt>
<dd>A rock wall or mountain side.  You can clear a path through them, but slowly.</dd>

<dt><pre class="a">_</pre></dt>
<dd>A recreant factory.  New Recreants will spawn on these.</dd>

<dt><pre class="w">~</pre></dt>
<dd>Water.  It's relatively safe.</dd>

<dt>
<pre class="B A">
   ###

#       #
#   #   #
#       #

   ###
</pre></dt>
<dd>A stargate.  It is your escape route.</dd>

</dl>

</div>
</div>

{{> footer}}
