{{> header}}

<div id="documenttext" class="roguebox">
<h1>Roguestar</h1>

<p>Roguestar is a text-based tactical role-playing game set in a science-fiction universe.  You can begin playing right now, in your web browser: <a href="/play/">Play Now</a>.<p>

{{#failed_unit_tests}}
<p>One or more unit tests failed:</p>
<pre>
{{{text_content}}}
</pre>
{{/failed_unit_tests}}

</div>

{{> footer}}
