{{> header}}

<div id="documenttext" class="roguebox">

{{#server-globals}}{{#failed-unit-tests}}
<div class="horrible">
<p>One or more unit tests failed:</p>
<pre>
{{{text-content}}}
</pre>
</div>
{{/failed-unit-tests}}{{/server-globals}}

<a class="right-button" href="/play/"><img class="roguebox" src="/static/glass/play-now.svg"/></a>

<p>Roguestar strives to offer fun, tactical, turn-based gameplay in a deadly world filled with goofy science-fiction monsters.</p>

<p>You can play right now, in your web browser.</p>

</div>

{{> footer}}
