{{> header}}
<div id="documenttext" class="roguebox">

<h1>Options</h1>

<form action="/start" method="post">
<button type="submit">Restart Game</button>
</form>

<p>
<code>{{server-statistics}}</code>
</p>

<p>Current number of game sessions: {{{number-of-games}}}</p>

</div>
{{> footer}}
