{{> header}}
<div id="documenttext" class="roguebox">

<h1>Options</h1>

<li><a href="/start">Start a New Game</a></li>
<li><a href="/feedback">Leave Feedback</a></li>
<li><a href="/version-history">Version History</a></li>

<h1>Server Status</h1>

<p>
<code>{{server-statistics}}</code>
</p>

<p>Current number of game sessions: {{{number-of-games}}}</p>

</div>
{{> footer}}
