{{> header}}

<div id="documenttext" class="roguebox">
  <h1>How to Participate (in the development of Roguestar)</h1>

  <p>How you can participate depends on your particular talents, but if you haven't already, please consider taking five minutes to type up your thoughts and opinions about the game on the <a href="/feedback">feedback</a> page.</p>

  <div class="faq">

    <div class="faqitem">
      <h6 class="question">Artwork</h6>
      <div class="answer">
        <p>Roguestar needs artwork.  I am particularly interested in:</p>

        <ul>
          <li>Logos, headers, footers, and other decorative elements appropriate for a web site.</li>
          <li>High-resolution pictures of alien monsters, characters, equipment and landscapes/skyscapes.  No humans.</li>
          <li>Pictures of creatures performing specific tasks, such as picking up and object or firing a weapon.</li>
          <li>Pictures of anything else you encounter in the game that seems appropriate for illustration.</li>
        </ul>
      </div>
    </div>

    <div class="faqitem">
      <h6 class="question">HTML/CSS/Javascript Talent</h6>
      <div class="answer">
        <p>
          If you can improve the styling, layout, presentation, or general awesomeness of the website, please do so! All
          of the materials are available on github.
        </p>
        <p><apply template="/hidden/links/github" /></p>
      </div>
    </div>

    <div class="faqitem">
      <h6 class="question">Haskell Programmers</h6>
      <div class="answer">
        <p>
          Everything is on github.  Have fun.
        </p>
        <p><apply template="/hidden/links/github"/></p>
      </div>
    </div>

    <div class="faqitem">
      <h6 class="question">Other</h6>
      <div class="answer">
        <p>There are two things you can do that would be a huge help to me:</p>
        <ul>
          <li>Spend five minutes to give me <a href="/feedback">feedback</a>. It really is the most valuable
            contribution you can make. Try to be nice.
            But if you can't be nice, what the hell, this is the internet, go ahead and be mean.
          </li>
          <li>If you like roguestar, post about it on your blog or twitter.</li>
        </ul>
      </div>
    </div>
  </div>
</div>

{{> footer}}

