
body {
    padding: 0px;
    margin: 0px;
    font-family: monospace;
    background: #000000;
    color: #EEEEEE;
}

#main {
	width: 1028px;
    margin: auto;
    padding: 0;
}

#menu {
    background: #111111;
    border: ridge;
    border-width: 2px;
    border-color: #222222;
    padding: 0;
    margin: 0;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 1024px;
}

#menu ul {
	overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
}

#menu ul li {
	float: left;
    display: inline;
    white-space: nowrap;
    border-right: ridge;
    border-right-width: 2px;
    border-right-color: #222222;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#menu ul li a {
    color: #EEEEEE;
    padding: 1em;
    margin: 0;
}

#menu ul li:hover {
    background: #6D2E03;
}

#menu ul li a:hover {
	text-decoration: none;
}

#menu ul li.right {
    float: right;
    border-right: none;
    border-left: ridge;
    border-left-width: 2px;
    border-left-color: #222222;
}

#magicbox {
    position: relative;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
}

.help {
    font-size: 20px;
}

.inventorytitle, .inventoryitem {
    margin: 0;
    padding: 0;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 100%
}

.inventorygroup {
    margin-bottom: 1em;
}

.inventorytitle {
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
    border-bottom: dotted;
    border-color: #6D2E03;
    border-bottom-width: 1px;
}

.wielded .inventorytitle {
    color: #A1E4D8;
    background: #02453A;
}

.carried .inventorytitle {
    color: #F9F7B0;
    background: #6D6B03;
}

.ground .inventorytitle {
    color: #F9CDB0;
    background: #6D2E03;
}

.inventorytitle:last-child {
    border-bottom: none;
}

.inventoryitem {
    height: 3em;
	overflow: hidden;
    border-bottom: dotted;
    border-color: #444444;
    border-bottom-width: 1px;
    padding: 0;
}

.inventoryitem:hover {
    background: #000000;
}

.inventoryitem:last-child {
    border-bottom: none;
}

.inventoryitem p {
    margin-left: 1in;
	line-height: 3em;
}

.inventoryitem * {
    display: inline;
}

.inventoryitem button {
	height: 3em;
	float: right;
	margin: 0;
    border: none;
    border-left: dotted;
    border-left-width: 1px;
    border-left-color: #444444;
}

.inventoryitem button.wielded:hover {
    background: #285B52;
}

.inventoryitem button.carried:hover {
    background: #8F8E3F;
}

.inventoryitem button.ground:hover {
    background: #8F5F3F;
}

code {
    font-family: monospace;
    font-weight: normal;
}

button {
    background: #000000;
    color: #EEEEEE;
    border: ridge;
    border-color: #222222;
    border-width: 2;
    font-weight: bold;
    font-family: sans-serif;
}

button:hover {
    background: #6D2E03;
    color: #EEEEEE;
}

select {
    background: #000000;
    color: #EEEEEE;
    border: ridge;
    border-color: #222222;
    font-weight: bold;
    font-family: sans-serif;
}

select:hover {
    background: #6D2E03;
    color: #EEEEEE;
}

textarea {
    width: 100%;
    background: #111111;
    color: #EEEEEE;
}

img {
  border: 0;
}

img.screenshot {
    border: solid;
    border-width: 1px;
    border-color: black;
    float: right;
}

h1, h2, h3, h4, h5, h6 {
    color: #FFFFFF;
    font-family: sans-serif;
    font-weight: bold;
    border-bottom: dotted;
    border-top: dotted;
    border-width: 1px;
    border-top-color: #888888;
    border-bottom-color: #888888;
    margin: 0;
    margin-top: 1cm;
    margin-bottom: 1cm;
    padding: 0;
}

h1 { font-size: 130% }
h2 { font-size: 125% }
h3 { font-size: 120% }
h4 { font-size: 115% }
h5 { font-size: 110% }
h6 { font-size: 105% }

a {
	color: #E62117;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.roguebox {
    border: ridge;
    border-width: 2px;
    border-color: #222222;
    background: #111111;
}

#documenttext {
   padding-top: 1em;
   padding-bottom: 1em;
   padding-left: 1in;
   padding-right: 1.62in;
   margin: 0;
   margin-bottom: 1em;
   font-family: "Georgia", serif;
   color: #BBBBBB;
}

#gameplaybox {
    overflow: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 500px;
    height: 500px;
    letter-spacing: 6.5pt;
    text-align: center;
}

#gameplaybox .help {
    position: absolute;
    left: 476px;
    top: 10px;
}

#messagebox {
    overflow: auto;
    position: absolute;
    left: 0px;
    top: 504px;
    height: 96px;
    width: 1024px;
}

#controls {
    overflow: hidden;
    position: absolute;
    left: 504px;
    top: 0px;
    height: 500px;
    width: 520px;
}

#controls .help {
    position: absolute;
    left: 496px;
    top: 10px;
}

#controls > div {
    margin: 1cm;
}

#controls div.buttonrow {
    margin: 0;
}

#controls button {
    width: 30%;
}

#controls select {
    width: 90%;
}

#messagebox p {
    padding: 0;
    margin: 0;
    margin-left: 0.2em;
    line-height: 120%;
}

.faqitem:hover .question {
    background: #000000;
}

.feedback {
    margin-top: 1cm;
}

.feedback button {
	margin-top: 1cm;
    clear: both;
}