<div id="documenttext">

<p>You are a {{{species}}}</p>

<form action="/play/reroll" method="post">
<p><button type="submit">Reroll</button> a different character.</p>
</form>

<form action="/play/accept" method="post">
<p><button type="submit">Accept</button> this character.</p>
</form>

</div>
