<div id="documenttext">

<p>You are a {{{species}}}</p>

<!--
<form action="/play/reroll" method="post">
<button type="submit">Retry</button>
</form>
-->

<form action="/play/accept" method="post">
<button type="submit">Begin</button>
</form>

</div>
