{{> header}}

<div id="documenttext" class="roguebox">

<h1>Version History</h1>

<h6>Roguestar 0.12.0</h6>
<ul>
<li>Fixed bug where player wouldn't be shown combat events leading up to the player's death.
<li>Added horribly drawn pictures with googly eyes.
</ul>

<h6>Roguestar 0.10.0</h6>
<ul>
<li>Animated events for javascript-enabled clients.</li>
<li>Color map.</li>
<li>Switched to mustache templates (hastache).  You can append <code>?theme=json</code> to any URL to see/debug the JSON data used to render each template.</li>
<li>Fixed bug where stale sessions weren't being cleaned up.</li>
</ul>

<h6>Roguestar 0.8</h6>
<ul>
<li>September 2012</li>
<li>First release of the web version.</li>
</ul>
</div>

{{> footer}}
