<div id="documenttext" class="roguebox">

<h6 class="quest">Lost!</h6>

<p>Use your compass to navigate to the star-portal and escape.</p>

<form action="/play/reroll" method="post">
<button type="submit">Begin</button>
</form>

</div>
