    </div>

    <script src="/static/scripts/jquery-1.8.2.js" type="application/javascript"></script>
    <script src="/static/scripts/jquery-ui-1.10.2/js/jquery-ui-1.10.2.custom.js" type="application/javascript"></script>
    <script src="/static/scripts/jquery.cookie-1.2.js" type="application/javascript"></script>
    <script src="/static/scripts/jquery.xcolor-1.8.js" type="application/javascript"></script>
    <script src="/static/themes/glass/style.js" type="application/javascript"></script>
  </head>

  </body>
</html>

