<div id="documenttext" class="roguebox">

<h6 class="quest">Success</h6>

<p>You have escaped through the star-portal to another world.</p>

<p>A greater adventure awaits you . . .</p>

<form action="/start" method="post">
<button type="submit">Restart Game</button>
</form>

</div>
