<div id="documenttext" class="roguebox">

<h6 class="quest">Success</h6>

<p>You have escaped through the star-portal to another world.
It is a better world, one where powerful beings slay one another over meaningful differences of opinion, rather than differences between their transponder ID codes.</p>

<p>A greater adventure awaits you . . .</p>

<form action="/start" method="post">
<button type="submit">Restart Game</button>
</form>

</div>
