{{> header}}

{{#play}}
<div id="magicbox">

{{#map}}
<div id="gameplaybox" class="roguebox">
  {{> map}}
</div>
{{/map}}

<div id="messagebox" class="roguebox">
  {{#messages}}
    <p>{{{text}}}</p>
  {{/messages}}
</div>

<div id="controls" class="roguebox">

{{#statsblock}}
  <pre>{{{text}}}</pre>
{{/statsblock}}

{{#controls}}
<form action="/play/move" method="post">
<div id="movement-controls">

<div id="movement-modes">
<input type="radio" name="mode" id="modeNormal" value="normal" checked="checked"/><label for="modeNormal" title="Use the direction pad to move one square at a time. Bumping into a creature attacks. Bumping into blocked terrain digs through that terrain. Bumping into the central point of the stargate activates it.">Normal</label>
{{#teleport}}
<input type="radio" name="mode" id="modeJump" value="jump"/><label for="modeJump" title="Use the direction pad to instantly move 5-7 squares. Exact point of landing is very random. Small chance of failure, leaving you vulnerable.">Teleport</label>
{{/teleport}}
</div>

<div id="directional-controls">
<div class="buttonrow">
<button type="submit" name="direction" value="nw" class="up-left"><img src="/static/themes/glass/button-up-left.svg"/></button>
<button type="submit" name="direction" value="n" class="up"><img src="/static/themes/glass/button-up.svg"/></button>
<button type="submit" name="direction" value="ne" class="up-right"><img src="/static/themes/glass/button-up-right.svg"/></button>

</div>

<div class="buttonrow">
<button type="submit" name="direction" value="w" class="left"><img src="/static/themes/glass/button-left.svg"/></button>
<button type="submit" name="direction" value="wait" class="center" title="Wait 1 turn. This might leave you vulnerable."><img src="/static/themes/glass/button-center.svg"/></button>
<button type="submit" name="direction" value="e" class="right"><img src="/static/themes/glass/button-right.svg"/></button>

</div>

<div class="buttonrow">
<button type="submit" name="direction" value="sw" class="down-left"><img src="/static/themes/glass/button-down-left.svg"/></button>
<button type="submit" name="direction" value="s" class="down"><img src="/static/themes/glass/button-down.svg"/></button>
<button type="submit" name="direction" value="se" class="down-right"><img src="/static/themes/glass/button-down-right.svg"/></button>

</div>
</div>

</div>

</div>
{{/controls}}

{{#is-snapshot}}
<form class="autosubmit-after-pause" action="/play/pop" method="post">
<button type="submit">Pop Next Event</button>
</form>
{{/is-snapshot}}

</form>

<!--
<form action="/play/inventory" method="get">
<button type="submit">Inventory</button>
</form>
-->
</div>

</div>
{{/play}}

{{#empty-game}}
{{> empty-game}}
{{/empty-game}}

{{#rolled-creature}}
{{> rolled-creature}}
{{/rolled-creature}}

{{#player-death}}
{{> player-death}}
{{/player-death}}

{{#player-victory}}
{{> player-victory}}
{{/player-victory}}

{{> footer}}
