<div class="roguestar-accordion">
<h1>Roguestar 0.14.0</h1>
<div>
  <ul>
  <li>May 2014.
  <li>Added Lava Larva monster.
  <li>Added WebGL (THREE.js) compass and health indicator.
  </ul>
</div>

<h1>Roguestar 0.12.0</h1>
<div>
  <ul>
  <li>(Internal) new game world graph model and search/flood-fill algorithm.
  <li>Added "Holographic Trail" and "Temporal Web" abilities for specific monsters.
  <li>Characters now teleport only if they have a teleport ability or they are standing on a teleport pad.
  <li>Added jquery-ui widgets and improved theme.
  <li>Added "Anachronid" and "Tabular Monstrosity" monsters.
  <li>Added horribly drawn pictures with googly eyes.
  <li>Significant changes to how combat outcomes are calculated.
  <li>Fixed bug where player wouldn't be shown combat events leading up to the player's death.
  <li>Used Oxygen and Averia Sans Libre fonts.
  </ul>
</div>

<h1>Roguestar 0.10.0</h1>
<div>
  <ul>
  <li>Animated events for javascript-enabled clients.</li>
  <li>Color map.</li>
  <li>Switched to mustache templates (hastache).  You can append <code>?theme=json</code> to any URL to see/debug the JSON data used to render each template.</li>
  <li>Fixed bug where stale sessions weren't being cleaned up.</li>
  </ul>
</div>

<h1>Roguestar 0.8</h1>
<div>
  <ul>
  <li>September 2012</li>
  <li>First release of the web version.</li>
  </ul>
</div>
</div>

